/* место для вашего кода */
.header {
  display: flex;
  height: 105px;
  align-items: center;
  margin: 92px 24px 96px 24px;
  font-weight: 400;
  font-size: 18px;
  color: #000;
}

.header__menu {
  width: 391px;
  height: 22px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list-item_no-bullit .header__link {
  border-bottom: 0;
  text-decoration: none;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  list-style: circle;
  gap: 31.5px;
}

.header__link {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.header__link-accent {
  text-decoration: none;
  border-bottom: 1px solid #000;
  letter-spacing: 0.01em;
  line-height: 1.35;
}

.header__logo {
  width: 148px;
  margin: 0 184px 0 36px;
}

.header__logo-image {
  width: 100%;
  height: 105px;
  box-sizing: border-box;
}

.address {
  width: 240px;
  height: 98px;
  font-style: normal;
  line-height: 1.35;
}

.cover {
  width: 1100px;
  height: 757px;
  background-image: url(/dev/ono-tebe-nado/images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
