/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  height: 105px;
  align-items: center;
  margin: 92px 24px 96px 24px;
  font-weight: 400;
  font-size: 18px;
  color: #000;
}

.header__menu {
  width: 400px;
  height: 22px;
  margin: 7px 0 0 26px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list-item_no-bullit .header__link {
  border-bottom: 0;
  text-decoration: none;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  list-style: circle;
  gap: 31.5px;
}

.header__link {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.header__link-accent {
  text-decoration: none;
  border-bottom: 1px solid #000;
  letter-spacing: 0.01em;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  color: #000;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
  height: 105px;
  box-sizing: border-box;
}

.address {
  width: 240px;
  font-style: normal;
  line-height: 1.35;
}

.address-justify-self {
  justify-self: end;
}

.address-padding {
  margin-right: 29px;
  padding: 3px 0 0 4px;
}

.cover {
  position: relative;
  z-index: 0;
  width: 1100px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 165px 50px 50px 50px;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 136px;
}

.accent-span {
  color: white;
  display: block;
  margin-bottom: 20px;
}

.accent-span:last-child {
  margin-bottom: 0;
}

.text__left {
  text-align: left;
  letter-spacing: 0.3em;
}

.text__center {
  text-align: center;
  letter-spacing: 0.3em;
  line-height: 100%;
}

.text__right {
  text-align: right;
  letter-spacing: 0.3em;
  line-height: 100%;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  z-index: 2;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  color: #fff;
  word-spacing: 18.5px;
  margin: 12px 0 0 28px;
}

.cover__description-text__letter-spacing {
  letter-spacing: 1.1em;
}

.bet-button {
  width: 256px;
  height: 51px;
  background: transparent;
  border-color: white;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.lots {
  position: relative;
  margin: 186px 24px 146px 24px;
}

.lots__heading {
  margin: -7px 0 27px 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
}

.lots__card-list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 334px;
  min-height: 563px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  min-height: 563px;
  width: 334px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-decoration: none;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card__title-text {
  position: relative;
  z-index: 1;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
  padding: 51px 40px 0 40px;
}

.card__text {
  position: relative;
  z-index: 1;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  padding: 0 40px 48px 40px;
}

.letter-spacing-dots {
  letter-spacing: 0.13em;
}

.lots__look-more-text {
  display: block;
  margin: 30px 0 0 40px;
  width: 192px;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 146px 24px 0px 24px;
}

.about__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  margin-left: 47px;
  margin-top: 35px;
  background-color: #000;
  border-radius: 50%;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column {
  margin-right: 25px;
}

.about__column-auction {
  grid-column: span 2;
  margin: 133px 0 0 0;
}

.about__text {
  width: 693px;
  min-height: 312px;
  margin-left: 8px;
}

.about__title {
  margin-left: 9px;
  margin-top: 3px;
  margin-bottom: 100px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
}

.about__text-paragraph {
  width: 688px;
  min-height: 120px;
  margin-right: 5px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #000;
}

.about__text-paragraph-indent {
  width: 693px;
  letter-spacing: 0.01em;
  margin-bottom: 24px;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  min-height: 98px;
  margin: 180px 50px 88px 50px;
}

.address-footer {
  width: 240px;
  min-height: 98px;
  padding-top: 1px;
  font-style: normal;
  line-height: 1.35;
  font-weight: 400;
  font-size: 18px;
  color: #000;
}

.footer__menu-list {
  list-style-type: none;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  color: #000;
}

.footer__menu-link {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.footer__menu-link-active {
  text-decoration: none;
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  list-style-type: none;
}

.footer__social-link-item {
  width: 48px;
  height: 48px;
}
